.toolbar-div {
  float: left;
}
.toolbar-img-logo {
  height: 100px;
  width: 100px;
  margin-right: 10px;
  cursor: pointer;
}

.serachbar-div {
  margin: auto;
  color: #000;
}
.serachbar {
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
}
.searchbar-button {
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
}
.badge-div {
  margin-right: 10px;
  cursor: pointer;
}
.avatar {
  background-color: #012a4a;
}
.login-button-div {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-right: 30px;
}
.add-cart-div {
  border: 2px solid #012a4a;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
  height: 70px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.add-cart-remove-button {
  background: none;
  border: none;
  float: right;
  color: #f00;
  cursor: pointer;
}
.add-cart-image {
  height: 50px;
  width: 30px;
  float: left;
}
.total-price-div {
  text-align: center;
}
.view-cart-checkout-button {
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;

  background-color: #012a4a;
  padding: 5px;
  cursor: pointer;
}
