.container {
  background-color: #e8e8e8;
  padding: 60px;
}
h5 {
  color: #012a4a;
}
a {
  color: #012a4a;
}
.Divider {
  background-color: #012a4a;
}
.title {
  background-color: #012a4a;
  color: #e8e8e8;
  padding: 5px 0;
  text-align: center;
  margin-top: 20px;
}
